<h1>All Tracks</h1>
<hr/>

<% @tracks.each do |track| %>
  <div class="track">
  <form method="post" action="/upvote">
    <h3>
    <%= track.votes.count %>
    <a href="<%= track.url %>"><%= track.song_title %></a>
    <% if session[:user_id] %>
      <input type="hidden" name="track_id" value="<%= track.id%>">
      <% unless track.votes.find_by_user_id(session[:user_id]) %>
        <input type="submit" class="btn btn-sm" value='Like'/>
      <% end %>
    <% end %>
    </h3>
  </form>
    (by: <%= track.author %>)
  </div>
<% end %>

<hr/>
<form method="post" action="/tracks">
  <div>
    <input type="submit" value="Generate a random track!"/>
  </div>
</form>